.display-content{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #474747;
    /* border: 1px solid #383838; */
    border-radius: 5px;
    padding: 20px;
  }
  
  label {
    margin-bottom: 10px;
    color: rgb(212, 212, 212);
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: azure;
    color: #1a1a1a;
  }
  
  a.login-button {
    padding: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a.login-button:hover {
    background-color: #00ff08;
    color: #1a1a1a;
  }

  .profile-section {
    margin: auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
  }
  
  .profile-section h2 {
    margin-bottom: 10px;
  }
  
  .profile-section .profile-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .profile-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .profile-section li {
    margin-bottom: 10px;
  }
  
  .profile-section img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin-left: 20px;
  }
  