/*
Music library css
*/

.list-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
}

.list-container>.contents {
    padding: 0px 20px;
    box-sizing: border-box;
}

.music-library {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.music-library .actions {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #161616;
    user-select: none;
}

.music-library .actions>.action:hover {
    text-decoration: underline;
    cursor: pointer;
}

.music-library table {
    border-collapse: collapse;
}

.music-library th {
    text-align: left;
}

.music-library td, .music-library th {
    padding: 10px;
    box-sizing: border-box;
}

.music-library .song img {
    height: 84px;
    width: 84px;
}

.music-library .song {
    border-radius: 10px;
}

.music-library .song:hover {
    background-color: rgb(32, 32, 32);
}

.music-library .song td:not(:last-child):hover {
    text-decoration: underline;
    cursor: pointer;
}

.music-library .song .name {
    font-weight: bold;
}

/* dialog container styles */

.dlg-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.dlg-container .dialog {
    margin: auto;
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    min-width: 320px;
}

.dlg-container .dialog>.titlebar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #161616;
    display: flex;
}

.dlg-container .dialog>.titlebar>.title {
    flex: 1;
    padding: 10px 15px;
    font-weight: bold;
}

.dlg-container .dialog>.titlebar>.close {
    background-color: transparent;
}

/* dialog body */
.dlg-container .dialog>.body {
    padding: 15px;
}

.dlg-container .dialog>.body>.cover {
    text-align: center;
}

.dlg-container .dialog>.body>.cover>img {
    height: 200px;
    width: 200px;
}

.dlg-container .dialog>.buttons {
    padding: 15px;
    text-align: right;
}

.dlg-container .dialog>.buttons>button {
    padding: 5px 10px;
    appearance: none;
    color: rgb(41, 177, 109);
}

.dlg-container .dialog>.buttons>.spotify {
    float: left;
}